@use "variables" as * ;

@mixin font($size, $color, $weight) {
  // padding: 0 0 0 0 ;
  // display: block;
  margin-top: auto ;
  margin-bottom: auto ;
  font-family: $p ;
  font-style: normal;
  color: $color;
    font-size: $size;
    font-weight: $weight;
    line-height: normal;
    text-transform: capitalize;
  }
  
  // fonts  for the chat 
  .head {
    @include font($fbig , black , $wbold) ;
  }
  

  .chatfont{
    @include font($fmedium , black , $wnormal) ;
    &-w{
      @extend .chatfont ;
      color: white ;
    }

  }
 
  
  .minibold{
    @include font($fmedium , black , $wbold) ;
        &-sub {
    @include font($fsmall , $secondary , $wbold) ;
          
        }
  }
 
  
.bigheader {
font-family: $o ;
font-weight: 400;
line-height: 116.914%; /* 82.441px */
letter-spacing: -1.058px;
text-transform: capitalize;
font-size: 4.407rem; 



}
.header{
  font-family: $o ;
  font-weight: 400;
  line-height: 116.914%; /* 82.441px */
  letter-spacing: -1.058px;
  text-transform: capitalize;
  font-size: 3rem; 

  


}
   



.sectionfont{
  @include font(30px , black , $wbold) ;
  font-family: $o;
}
.sectionfontthin{
  @include font(16px , black , 500) ;
  font-family: $o;
}

//! new fonts 
.containertitle{
  color: #000;
font-family: Poppins;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 35px */
  &-small { //! this is for the card title
    color: #000;
font-family: Poppins;
font-size: 17px;
font-style: normal;
font-weight: 500;
line-height: 25.2px; /* 148.235% */
  }

}

.thicktitle{
  color: #212121;
text-align: center;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 900;
line-height: 140%; /* 33.6px */
letter-spacing: 0.24px;
&-sub {
  color: $borderColor;
text-align: center;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 900;
line-height: 140%; /* 33.6px */
letter-spacing: 0.24px;
}
}

.pagetitle{
  color: black;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 140%; /* 22.4px */
&-selected {
  color: $primary;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 22.4px */

}
}

.cardFont{
  color: #000;
font-family: Poppins;
font-size: 17px;
font-style: normal;
font-weight: 500;
line-height: 25.2px; /* 148.235% */
}