@use "variables" as * ;

@mixin font($size, $color, $weight) {
  // padding: 0 0 0 0 ;
  // display: block;
  margin-top: auto ;
  margin-bottom: auto ;
  font-family: inter ;
  font-style: normal;
  color: $color;
    font-size: $size;
    font-weight: $weight;
    line-height: normal;
    text-transform: capitalize;
  }
  
  // fonts  for the chat 
  .head {
    @include font($fbig , black , $wbold) ;
  }
  

  .chatfont{
    @include font($fmedium , black , $wnormal) ;
    &-w{
      @extend .chatfont ;
      color: white ;
    }

  }
 
  
  .minibold{
    @include font($fmedium , black , $wbold) ;
        &-sub {
    @include font($fsmall , $secondary , $wbold) ;
          
        }
  }
 
  
.bigheader {
font-family: $o ;
font-weight: 400;
line-height: 116.914%; /* 82.441px */
letter-spacing: -1.058px;
text-transform: capitalize;
font-size: 4.407rem; 



}
.header{
  font-family: $o ;
  font-weight: 400;
  line-height: 116.914%; /* 82.441px */
  letter-spacing: -1.058px;
  text-transform: capitalize;
  font-size: 3rem; 

  


}
   



.sectionfont{
  @include font(30px , black , $wbold) ;
  font-family: $o;
}
.sectionfontthin{
  @include font(30px , black , $wnormal) ;
  font-family: $o;
}


