@use "variables" as * ;



@mixin button ($col){
    text-decoration: none !important;
color: white;
min-height: 50px;
    font-size: 15px;
    display: flex ;
    padding: 0px 9px 0px 8px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    background: $col;







    
}

.btnprimary{
    @include button($primary);
    &.clicked{
        background-color : lightcoral ;
    }
}

.btnsecondary{
    @include button($secondary) ;
    &.clicked{
        background-color : lightcoral ;
    }
}

.btnthird{
    @include button(($third))
}





.g1{
    gap : $gp1 
}
.g2{
    gap : $gp2
    
}
.g3{
    gap : $gp3 ;

}


.drow {
    width: auto ;
    display: flex;
    padding: $pad ; 
    &-between {
        @extend .drow ;
        justify-content: space-between;
    }
    &-around {
        @extend .drow ;
        justify-content: space-around;
    }
    &-center{
        @extend .drow ;
        justify-content: center;
    }
}


.col {
    // height: 600px ; 
    display: flex;
    flex-direction: column;
    padding: $pad ; 
    &-between {
        @extend .col ;
        justify-content: space-between;
    }
    &-around {
        @extend .col ;
        justify-content: space-around;
    }
    &-center{
        @extend .col ;
        justify-content: center;
        align-items: center;
    }
}
 
.dcenter {
    display: flex;
    flex-direction: col;
    align-items: center;
    justify-content: center;
}
   
.centerself{
    align-self: center;
}



.primarybtn{
color: white;
border-radius: 4px;
border: 1px solid $primary;
background: $primary;
display: flex;
padding: 11px 23.406px 13px 20px;
align-items: center; 
justify-content: center;
//! font 
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 29.5px; /* 163.889% */
&-nopad{
    @extend .primarybtn ;
    padding: 4px;

}}

.secondarybtn{
color: $primary;
border-radius: 4px;
border: 1px solid $borderColor;
background:white;
display: flex;
padding: 11px 23.406px 13px 20px;
align-items: center;
justify-content: center;
&-nopad{
    @extend .secondarybtn ;
    padding: 4px;
}

//! font 
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 29.5px; /* 163.889% */





}