@use "./abstracts" as * ;
$o: 'Oswald';





body{
    max-width: 100vw !important;
    overflow: auto;
    scrollbar-color: gray lightgray;
    scrollbar-width: thin;
    scrollbar-width: 1px;
}

.hidden{
    display: none;
}
.cursor{
    cursor: pointer;
}

.z{
    background-color: mediumseagreen;
    flex: 2;
}
.b{
    background-color: rgb(68, 60, 179);
}
.r{
    background-color: rgb(179, 60, 98);
}


.badge{
    display: inline-flex;
    width: max-content;
    border-radius: 24px;padding: 2px 8px;
    font-weight: 500;
    &-finished{
        @extend .badge ;
        font-size: x-small;
        background-color: green;
        color: greenyellow;
    }
    &-active {
        @extend .badge ;
        font-size: x-small;

        background-color: #eab52d ;
        color: #F8D765 ;
        
    }
    &-canceled {
        @extend .badge ;
        color: red;
        font-size: x-small;

        background-color: rgb(228, 110, 110);
    }
}


.grow {
    flex-grow: 1;
}


.f1 {
    flex: 1;
}.f2 {
    flex: 2;
}
.f3 {
    flex: 3;
}

.rest {
    flex: auto;
}

.full {
    width: 100%;
    flex-grow: 1;
}

.invisible{
    visibility: hidden;
}



    p{
    margin:0 ; 
    padding:  0 ;}


    .i{
        width: 16px !important;
        height: 16px !important;
    }
    .smalli{
        width: 8px !important;
        height: 8px !important;
    }

 .border {
    border: solid 1.2px black  !important ;
 }
    

 .myscroll{
    scrollbar-color: gray lightgray;
    scrollbar-width: thin;
 }


 .pad{
    padding: 0 $space 0 $space;
 }
 .fullpad{
    padding: $space;
 }

 .textleft{
    text-align: center;
 }


 a {
    text-decoration: none;
 }

 
img {
    margin-top: auto;
    margin-bottom: auto;
    width: 48px;
height: 48px;
border-radius: 12px;
background:  transparent 100% / cover no-repeat ;
}


.myplaceholder{
    color: black;
    opacity : 0.4 ;
}

.myselecteditem{
    border-right: solid 5px $primary;
    opacity: 1;
}


.imgcontainer{
    // border: solid 1.5px $primary;
    img{
        background:  transparent 100% / cover no-repeat ;
        border-radius: 50%;
        border-color: $primary !important;
        border: 2px;
        min-width: 165px !important;
        border: solid 2px $primary;
        min-height: 165px !important;
    }
}



.myRectangle{
    background-color: white;
    display: flex;
padding: 12px;
align-items: flex-start;
gap: 16px;
p {
    padding-left: 0;
}
align-self: stretch;

img {
    border: $primary solid 2px;
}
max-height: 72px;
border-bottom: solid 1.2px rgba($color: #000000, $alpha: 0.38);
align-items:center ;
align-self: stretch;

}



.profile {

        
    img {
        border: $primary solid 2px;
    }
    max-height: 72px;
    border-bottom: solid 1.2px rgba($color: #000000, $alpha: 0.08);
align-items:center ;
align-self: stretch;


.name{
    padding-left: 0;
    display: flex;
align-items: flex-start;
gap: 12px;
align-self: stretch;
}
}

.profile:hover{
    background-color: rgb(228, 176, 224);
}

.review{
 border: 1px lightgray solid;
.reply{
    padding-left: 10%;
    border-bottom: $primary solid 2px;
    border-top: $primary solid 2px;
    margin-top: 5px;
}
}