@use "./abstracts/variables" as * ; 

.page {
    flex : 1 ;
    background-color: white;
    padding-right: 10vw;
    // padding-left: 10vw;
    height: 500px;
    min-height: 90vh ;
    max-height: 85vh ;
}
.orange {
    display :inline-flex;
   color : #DD6B20;
    background-color: #FEEBC8;
}


.messagesPanel{
   
    max-height: 87vh ;


flex : 2;
    
    

    border-right: solid 1px rgb(185, 177, 177);
    // width: ;
img {
    align-self: stretch !important;
    // background-color: transparent;
}

.mymessages{ 
    
    
    max-height: $maxh  ;
    width: auto;

    // background-color: cyan;
    border-bottom: solid 1.2px rgba($color: #000000, $alpha: 0.08);
    
    
    
    }
.search{
    margin-top: 5px;
    margin-bottom: 5px;
  height: 40px;
    background-color: lightgray;
    // background-color: red;
    opacity: 0.8;
    border-radius: $radi ; 
    overflow: hidden;
    align-items: center;

}




.profiles{

    scrollbar-color: gray lightgray;
    scrollbar-width: thin;









    overflow-y: auto;
    align-items: start;

     


    padding: 2px 3% 2px 3%;

.profile {


    img {
        border: $primary solid 2px;
    }
    max-height: 72px;
    border-bottom: solid 1.2px rgba($color: #000000, $alpha: 0.08);

//     display: flex;
// padding: 12px;
align-items:center ;

// gap: 16px;
align-self: stretch;


.name{
    padding-left: 0;
    display: flex;
align-items: flex-start;
gap: 12px;
align-self: stretch;
}
}

.profile:hover{
    background-color: rgb(228, 176, 224);
}




}



}