@use "./abstracts/variables" as * ;
.profilepage{

.profileContainer{
   border-radius: 20px;
   padding: 15px;
   background-color: white;
}



 .profilepart{
    width: 50%;
 }

 .profilecard{ 
    width: 40%;
    max-height: 80vh;
    // position: sticky;
    // top: 0cm;
}



}