.joshAppel0nkfvdcmX4UnsplasIcon {
  position: relative;
  width: 1525.16px;
  height: 730.96px;
  object-fit: cover;
  mix-blend-mode: darken;
}
.joshAppel0nkfvdcmX4UnsplasWrapper {
  position: absolute;
  top: 68.53px;
  left: -17.89px;
  display: flex;
  flex-direction: column;
  padding: 7.945257186889648px;
  align-items: flex-start;
  justify-content: flex-start;
}
.landingPageChild {
  position: absolute;
  top: 30.21px;
  left: 0;
  border-radius: 39.4px;
  width: 878.6px;
  height: 1284.72px;
  mix-blend-mode: normal;
}
.findThePerfect {
  position: absolute;
  top: 28.8px;
  left: 82.43px;
  letter-spacing: -0.01em;
  line-height: 116.91%;
  text-transform: capitalize;
  display: flex;
  align-items: flex-end;
  width: 762.74px;
  height: 364.49px;
}
.joshAppel0nkfvdcmX4UnsplasIcon1 {
  position: absolute;
  top: -17.88px;
  left: 0;
  border-radius: 19.86px;
  width: 1428.16px;
  height: 1055.73px;
  object-fit: cover;
  display: none;
  mix-blend-mode: multiply;
}
.aicarecomIsThe {
  text-transform: lowercase;
  color: #000;
}
.artificialIntelligence {
  color: #b80c09;
}
.findTheBest {
  text-transform: lowercase;
}
.aicarecomIsTheFirstToolT {
  margin-block-start: 0;
  margin-block-end: 1.99px;
}
.p {
  margin: 0;
}
.aicarecomIsTheContainer1 {
  line-break: anywhere;
  width: 100%;
}
.aicarecomIsTheContainer {
  position: absolute;
  top: 401.24px;
  left: 87.4px;
  font-size: 22.84px;
  letter-spacing: -0.01em;
  line-height: 112.41%;
  font-weight: 600;
  white-space: pre-wrap;
  display: flex;
  align-items: flex-end;
  width: 476.72px;
}
.findThePerfectCareForYourParent {
  position: absolute;
  top: 60.58px;
  left: -9.93px;
  background-color: #f9fbfc;
  backdrop-filter: blur(3.97px);
  width: 836.24px;
  height: 487.64px;
  mix-blend-mode: darken;
  text-align: left;
  font-family: Nunito;
}
.logIn {
  position: relative;
  font-size: 16.51px;
  line-height: 135.02%;
  text-transform: capitalize;
  font-family: Inter;
  color: #fff;
  text-align: center;
  mix-blend-mode: hard-light;
}
.logInWrapper {
  display: flex;
  flex-direction: row;
  padding: 7.945257186889648px;
  align-items: center;
  justify-content: center;
}
.buttonInner {
  position: absolute;
  top: -10.34px;
  left: 7.95px;
  width: 143.01px;
  display: flex;
  flex-direction: column;
  padding: 7.945257186889648px 51.64417266845703px 7.945257186889648px
    7.945257186889648px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #44a2b0;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 18.34px;
  width: 159.9px;
  height: 34.76px;
  overflow: hidden;
}
.button1,
.expandRightIcon {
  position: absolute;
  top: 5.96px;
  left: 137.39px;
  width: 22.32px;
  height: 23.84px;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #b80c09;
  top: 0;
  left: 190.54px;
  border-radius: 18.34px;
  width: 172.95px;
  height: 34.76px;
  overflow: hidden;
}
.buttonParent,
.landingPageItem {
  position: absolute;
  top: 590.93px;
  left: 92.36px;
  width: 363.5px;
  height: 34.76px;
}
.landingPageItem {
  top: 806.94px;
  left: -0.5px;
  border-top: 1px solid #000;
  box-sizing: border-box;
  width: 1431.14px;
  height: 0.99px;
}
.whatDoWe,
.whatDoWeProvideWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.whatDoWe {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 110.41%;
  text-transform: capitalize;
  width: 593.91px;
  height: 81.44px;
  flex-shrink: 0;
}
.whatDoWeProvideWrapper {
  position: absolute;
  top: 849.15px;
  left: 384.35px;
  flex-direction: row;
  padding: 7.945257186889648px;
  font-size: 47.67px;
}
.icon {
  position: absolute;
  top: 28.97px;
  left: 33.56px;
  width: 42.6px;
  height: 42.6px;
  overflow: hidden;
}
.findTheBest1,
.lowestPricing {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lowestPricing {
  top: 73.98px;
  left: 58.47px;
  text-transform: capitalize;
  width: 182.58px;
  height: 72.19px;
}
.findTheBest1 {
  top: 163.48px;
  left: 29.24px;
  font-size: 15.34px;
  letter-spacing: -0.01em;
  line-height: 112.41%;
  font-weight: 600;
  font-family: Nunito;
  width: 225.53px;
  height: 113.36px;
}
.frame18variant4Child {
  position: absolute;
  top: 158.81px;
  left: 21.72px;
  border-top: 0.9px solid #000;
  box-sizing: border-box;
  width: 260.73px;
  height: 0.85px;
}
.frame18variant4 {
  position: relative;
  border-radius: 17.04px;
  background-color: #fff;
  border: 1.5px solid #000;
  box-sizing: border-box;
  width: 301.31px;
  height: 288.78px;
  overflow: hidden;
  flex-shrink: 0;
}
.findTheBest2,
.frame18variant4Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame18variant4Wrapper {
  flex-direction: row;
}
.findTheBest2 {
  position: absolute;
  top: 158.63px;
  left: 30.92px;
  letter-spacing: -0.01em;
  line-height: 112.41%;
  font-weight: 600;
  width: 207.88px;
  height: 104.49px;
}
.frame18variant4Item {
  position: absolute;
  top: 154.33px;
  left: 20.02px;
  border-top: 0.8px solid #000;
  box-sizing: border-box;
  width: 240.32px;
  height: 0.79px;
}
.customerSupport {
  position: absolute;
  top: 70.94px;
  left: 32.45px;
  font-size: 31.95px;
  text-transform: capitalize;
  display: flex;
  font-family: Sansation;
  align-items: center;
  justify-content: center;
  width: 211.25px;
  height: 66.75px;
}
.frame18variant4Inner {
  position: absolute;
  top: 20.25px;
  left: 33.17px;
  width: 41.25px;
  height: 41.25px;
}
.frame18variant41 {
  position: relative;
  border-radius: 15.71px;
  background-color: #fff;
  border: 1.5px solid #000;
  box-sizing: border-box;
  width: 300.93px;
  height: 288.02px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: 14.14px;
  font-family: Nunito;
}
.frameParent {
  width: 1430.15px;
  height: 616.75px;
  display: flex;
  flex-direction: row;
  padding: 0 65.54837036132812px 0 22.842613220214844px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 46.68px;
}
.landingPageInner {
  position: absolute;
  top: 827.3px;
  left: -5.96px;
  display: flex;
  flex-direction: column;
  padding: 7.945257186889648px;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 34.67px;
}
.lineIcon {
  position: absolute;
  top: 1363.11px;
  left: 0;
  width: 1430.15px;
  height: 0.99px;
}
.leftArrowChild {
  position: absolute;
  top: calc(50% - 34.76px);
  left: 0;
  border-radius: 50%;
  background-color: #adcad5;
  width: 69.52px;
  height: 69.52px;
}
.icons8LeftArrow6411 {
  position: absolute;
  top: calc(50% - 87.28px);
  left: -52.38px;
  width: 37.24px;
  height: 37.24px;
  object-fit: cover;
}
.leftArrow,
.leftArrowWrapper {
  position: absolute;
  width: 69.52px;
  height: 69.52px;
}
.leftArrow {
  top: 69.52px;
  left: 69.52px;
  transform: rotate(180deg);
  transform-origin: 0 0;
  mix-blend-mode: multiply;
}
.leftArrowWrapper {
  top: 222.56px;
  left: 1231.29px;
}
.whatDoesOur,
.whatDoesOurClientsSayAbouWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.whatDoesOur {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 110.41%;
  text-transform: capitalize;
  width: 717.06px;
  flex-shrink: 0;
}
.whatDoesOurClientsSayAbouWrapper {
  position: absolute;
  top: 0;
  left: 384.35px;
  flex-direction: row;
  padding: 7.945257186889648px;
}
.feedbackGroupChild {
  position: absolute;
  top: 487.14px;
  left: 36px;
  width: 1430.15px;
  height: 0.99px;
}
.icons8LeftArrow64111 {
  position: absolute;
  top: 17.13px;
  left: 13.06px;
  width: 37.39px;
  height: 37.39px;
  object-fit: cover;
}
.feedbackGroup,
.leftArrow1,
.leftArrowContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 69.52px;
  height: 69.52px;
}
.feedbackGroup,
.leftArrowContainer {
  top: 231.6px;
  left: 204.8px;
}
.feedbackGroup {
  top: 1373px;
  left: -36px;
  width: 1430.15px;
  height: 487.64px;
  font-size: 41.71px;
}
.findTheCare,
.signUp1 {
  text-transform: capitalize;
}
.findTheCare {
  position: absolute;
  top: 10.92px;
  left: 0;
  letter-spacing: -0.01em;
  line-height: 110.41%;
  display: flex;
  align-items: center;
  width: 667.4px;
  height: 227.43px;
}
.signUp1 {
  position: relative;
  font-size: 25.47px;
  line-height: 135.02%;
  font-family: Inter;
  color: #fff;
  text-align: center;
  mix-blend-mode: hard-light;
}
.frameDiv,
.signUpContainer {
  display: flex;
  flex-direction: row;
  padding: 12.25839614868164px;
  align-items: center;
  justify-content: center;
}
.frameDiv {
  position: absolute;
  top: -15.96px;
  left: 12.26px;
  width: 220.65px;
  flex-direction: column;
  padding: 12.25839614868164px 79.67957305908203px 12.25839614868164px
    12.25839614868164px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.button2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #b80c09;
  position: absolute;
  top: 299.93px;
  left: 208.56px;
  border-radius: 28.3px;
  width: 188.47px;
  height: 53.63px;
  overflow: hidden;
}
.nationalCancerInstituteBxxgIcon {
  position: absolute;
  top: 0;
  left: 773.67px;
  border-radius: 19.86px;
  width: 496.58px;
  height: 331.05px;
  object-fit: cover;
}
.findTheCareYouDeserveFromParent {
  position: absolute;
  top: 1937.65px;
  left: 85.41px;
  width: 1270.25px;
  height: 353.56px;
  text-align: left;
  font-size: 74.18px;
}
.landingPage {
  position: relative;
  background-color: #f9fbfc;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 100%;
  height: 2539px;
  overflow: hidden;
  text-align: center;
  font-size: 70.51px;
  color: #000;
  font-family: Sansation;
}
