.logoChild {
  position: relative;
  border-radius: 0.76px;
  width: 13.74px;
  height: 13.74px;
}
.aicare {
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
}
.logoItem {
  position: relative;
  width: 76.36px;
  height: 76.36px;
  overflow: hidden;
  flex-shrink: 0;
}
.logo {
  width: 161.88px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 13.9px;
  font-size: 15.27px;
}
.home {
  position: relative;
  text-transform: capitalize;
}
.akarIconschevronDown {
  position: relative;
  width: 11.92px;
  height: 11.92px;
  overflow: hidden;
  flex-shrink: 0;
  margin-left: -11.92px;
}
.aboutParent,
.myContractsWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.aboutParent {
  width: 71.51px;
  justify-content: center;
}
.myContractsWrapper {
  padding: 0 10.924727439880371px 0 0;
  justify-content: flex-start;
}
.icon,
.icon1 {
  position: relative;
  width: 32px;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon1 {
  height: 32px;
  cursor: pointer;
}
.navLinks {
  width: 387.33px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 27.81px;
}
.t {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  width: 126.13px;
  height: 139.04px;
  flex-shrink: 0;
}
.navs {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f9fcfc;
  border: 0.3px solid #000;
  box-sizing: border-box;
  width: 1440px;
  height: 76px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 130.1035919189453px 0 44.69207000732422px;
  align-items: center;
  justify-content: flex-start;
  gap: 754.8px;
  font-size: 17.88px;
  font-family: Inter;
}
.yourCertificats,
.yourPatients,
.yourProfile {
  position: absolute;
  top: 149px;
  left: 502px;
  letter-spacing: -0.01em;
  line-height: 110.41%;
  text-transform: capitalize;
}
.yourCertificats,
.yourProfile {
  left: 100px;
}
.yourCertificats {
  top: 877px;
}
.frame {
  position: relative;
  border-radius: 75px;
  background-color: #c4c4c4;
  width: 147px;
  height: 144px;
  overflow: hidden;
  flex-shrink: 0;
}
.slimaneBenabbes {
  position: relative;
  line-height: 25.2px;
}
.starFillChild {
  position: relative;
  width: 8.71px;
  height: 8.43px;
}
.starFill {
  display: flex;
  flex-direction: row;
  padding: 2.521268844604492px 2.017015218734741px;
  align-items: flex-start;
  justify-content: flex-start;
}
.starFillItem {
  position: relative;
  width: 8.86px;
  height: 8.58px;
}
.starFill1 {
  display: flex;
  flex-direction: row;
  padding: 2.565502166748047px 2.0524017810821533px;
  align-items: flex-start;
  justify-content: flex-start;
}
.starIcon1 {
  position: relative;
  width: 11.12px;
  height: 12.1px;
}
.starFillParent {
  width: 55.16px;
  height: 12.68px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.autoLayoutHorizontal1 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 2.796875px 0.1875px 1px;
  align-items: center;
  justify-content: center;
  gap: 1px;
}
.frame1 {
  position: relative;
  width: 137px;
  height: 25px;
}
.autoLayoutHorizontal {
  width: 128px;
  height: 187px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: #86878d;
}
.male {
  font-weight: 600;
}
.genderMaleContainer1 {
  line-break: anywhere;
  width: 100%;
}
.address300Container,
.age30Container,
.genderMaleContainer,
.phoneNumberContainer {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 112.41%;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  width: 118px;
  height: 20px;
  flex-shrink: 0;
}
.address300Container,
.age30Container,
.phoneNumberContainer {
  width: 57px;
}
.address300Container,
.phoneNumberContainer {
  width: 174px;
}
.phoneNumberContainer {
  width: 155px;
}
.genderMaleParent {
  border-radius: 9px;
  background-color: #fbfdfd;
  border: 1px solid #212121;
  box-sizing: border-box;
  width: 259px;
  height: 237px;
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  align-items: flex-start;
  justify-content: center;
  gap: 22px;
  font-size: 12px;
  font-family: Nunito;
}
.accountCompleteness {
  position: relative;
  line-height: 24px;
}
.frame2 {
  position: relative;
  border-radius: 999px;
  background: linear-gradient(
      rgba(68, 162, 176, 0.64),
      rgba(68, 162, 176, 0.64)
    ),
    #e4e5e7;
  width: 192px;
  height: 8px;
}
.autoLayoutHorizontal2,
.div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.div {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  width: 32px;
  height: 15px;
  flex-shrink: 0;
}
.autoLayoutHorizontal2 {
  width: 259px;
  flex-direction: row;
  padding: 8px 1px;
  box-sizing: border-box;
  gap: 15px;
}
.logIn {
  position: relative;
  font-size: 16.51px;
  line-height: 135.02%;
  text-transform: capitalize;
  font-family: Inter;
  color: #fff;
  text-align: center;
  mix-blend-mode: hard-light;
}
.logInWrapper {
  display: flex;
  flex-direction: row;
  padding: 7.945257186889648px;
  align-items: center;
  justify-content: center;
}
.buttonInner {
  position: absolute;
  top: -10.34px;
  left: 7.95px;
  width: 143.01px;
  display: flex;
  flex-direction: column;
  padding: 7.945257186889648px 51.64417266845703px 7.945257186889648px
    7.945257186889648px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #44a2b0;
  position: relative;
  border-radius: 11.34px;
  width: 82px;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
}
.accountCompletenessParent,
.autoLayoutVertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.accountCompletenessParent {
  gap: 4px;
  text-align: center;
  font-size: 13px;
}
.autoLayoutVertical {
  position: absolute;
  top: 218px;
  left: 100px;
  border-radius: 17px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid #293691;
  box-sizing: border-box;
  width: 348px;
  height: 614px;
  padding: 70px 3px 43px 10px;
  gap: 14px;
  font-size: 17px;
  font-family: Inter;
}
.projListChild {
  position: relative;
  border-radius: 8px;
  background-color: #c4c4c4;
  width: 57px;
  height: 57px;
}
.bookApp {
  position: relative;
  letter-spacing: 0.5px;
  font-weight: 600;
}
.loadingAnimationIcon {
  position: relative;
  width: 21px;
  height: 21px;
  object-fit: cover;
  display: none;
}
.techConsultant {
  position: relative;
  font-weight: 600;
}
.label,
.mainCopy {
  flex-direction: row;
}
.label {
  border-radius: 4px;
  background-color: rgba(255, 102, 0, 0.2);
  overflow: hidden;
  display: none;
  padding: 2px 6px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  font-size: 12px;
  color: #f60;
}
.mainCopy {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.bookTechnologies {
  position: relative;
  font-size: 12px;
  letter-spacing: 0.5px;
  color: #8d8d8d;
  display: none;
}
.copy {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
  text-align: left;
}
.march2019 {
  position: relative;
  font-size: 12px;
  font-weight: 600;
  color: #aaa;
  display: none;
}
.checkContract,
.linkIcon {
  font-size: 14px;
  color: #707070;
}
.linkIcon {
  border-radius: 6px;
  background-color: rgba(189, 189, 189, 0.15);
  display: none;
  flex-direction: row;
  padding: 8px 8px 8px 12px;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.checkContract {
  position: relative;
  font-weight: 600;
  font-family: Poppins;
  text-align: center;
}
.linkIcon1 {
  cursor: pointer;
  border: 0;
  padding: 8px 8px 8px 12px;
  background-color: rgba(189, 189, 189, 0.15);
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.moreIcon {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.detailsIcon,
.projList {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.detailsIcon {
  cursor: pointer;
  border: 0;
  padding: 8px 8px 8px 12px;
  background-color: rgba(189, 189, 189, 0.15);
  border-radius: 6px;
  justify-content: flex-start;
  gap: 4px;
}
.projList {
  align-self: stretch;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  padding: 8px 26px 8px 16px;
  gap: 16px;
}
.copy1,
.linkIcon2,
.projList {
  justify-content: flex-start;
}
.copy1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  text-align: left;
  font-size: 15px;
  color: #212121;
}
.linkIcon2 {
  display: none;
  align-items: center;
}
.linkIcon2,
.linkIcon3 {
  border-radius: 6px;
  background-color: rgba(189, 189, 189, 0.15);
  flex-direction: row;
  padding: 8px 8px 8px 12px;
  gap: 10px;
}
.detailsIcon2,
.linkIcon3,
.projList1,
.projListParent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.detailsIcon2 {
  border-radius: 6px;
  background-color: rgba(189, 189, 189, 0.15);
  flex-direction: row;
  padding: 8px 8px 8px 12px;
  gap: 4px;
}
.projList1,
.projListParent {
  overflow: hidden;
}
.projList1 {
  align-self: stretch;
  border-radius: 8px;
  background-color: #fff;
  flex-direction: row;
  padding: 8px 26px 8px 16px;
  gap: 16px;
  font-size: 14px;
  color: #707070;
}
.projListParent {
  position: absolute;
  top: 210px;
  left: 502px;
  border-radius: 22px;
  background-color: rgba(243, 245, 255, 0.61);
  border: 1px solid #000;
  box-sizing: border-box;
  width: 849px;
  height: 219px;
  flex-direction: column;
  padding: 8px;
  gap: 8px;
  text-align: center;
  font-size: 15px;
  color: #212121;
  font-family: Poppins;
}
.yourInbox {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 110.41%;
  text-transform: capitalize;
}
.messageFromA {
  position: relative;
  letter-spacing: 0.5px;
  font-weight: 300;
  color: #000;
  margin-top: -4px;
}
.patientAParent {
  width: 448px;
  height: 27px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  font-size: 15px;
  color: #212121;
}
.label2 {
  border-radius: 4px;
  background-color: rgba(255, 102, 0, 0.2);
  overflow: hidden;
  display: none;
  flex-direction: row;
  padding: 2px 6px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.mainCopy2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.bookTechnologies2 {
  position: relative;
  letter-spacing: 0.5px;
  color: #8d8d8d;
  text-align: left;
  display: none;
}
.copy2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
  color: #f60;
}
.march20192 {
  position: relative;
  font-weight: 600;
  color: #aaa;
  display: none;
}
.linkIcon4 {
  border-radius: 6px;
  background-color: rgba(189, 189, 189, 0.15);
  display: none;
  padding: 8px 8px 8px 12px;
  justify-content: flex-start;
  gap: 10px;
  font-size: 14px;
}
.detailsIcon5,
.linkIcon4,
.projList2 {
  flex-direction: row;
  align-items: center;
}
.detailsIcon5 {
  border-radius: 6px;
  background-color: rgba(189, 189, 189, 0.15);
  display: flex;
  padding: 8px 8px 8px 12px;
  justify-content: flex-start;
  gap: 4px;
  font-size: 14px;
}
.projList2 {
  align-self: stretch;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  padding: 8px 8px 8px 16px;
  gap: 10px;
  font-size: 12px;
}
.copy3,
.projList2,
.projList3,
.projList4 {
  display: flex;
  justify-content: flex-start;
}
.copy3 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  font-size: 12px;
  color: #f60;
}
.projList3,
.projList4 {
  align-self: stretch;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  flex-direction: row;
  padding: 8px 8px 8px 16px;
  align-items: center;
  gap: 10px;
}
.projList4 {
  padding: 8px 22px 8px 16px;
  gap: 14px;
}
.projListGroup,
.yourInboxParent {
  width: 849px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.projListGroup {
  border-radius: 22px;
  background-color: rgba(243, 245, 255, 0.61);
  border: 1px solid #000;
  box-sizing: border-box;
  height: 192px;
  overflow: hidden;
  flex-shrink: 0;
  padding: 8px;
  align-items: center;
  gap: 8px;
  text-align: center;
  font-size: 14px;
  color: #707070;
  font-family: Poppins;
}
.yourInboxParent {
  position: absolute;
  top: 530px;
  left: 502px;
  height: 248px;
  align-items: flex-start;
  gap: 21px;
}
.icon9 {
  position: relative;
  width: 15px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.nursingCertificatParent {
  display: flex;
  flex-direction: row;
  padding: 0 17px;
  align-items: center;
  justify-content: center;
  gap: 34px;
  text-align: left;
  font-size: 15px;
  color: #212121;
}
.frameDiv {
  width: 448px;
  height: 27px;
}
.projList5 {
  align-self: stretch;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 8px 20px 8px 16px;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.projListContainer,
.toefelCertificatParent {
  display: flex;
  flex-direction: row;
  padding: 0 17px;
  align-items: center;
  justify-content: center;
  gap: 50px;
  text-align: left;
  font-size: 15px;
  color: #212121;
}
.projListContainer {
  position: absolute;
  top: 926px;
  left: 100px;
  border-radius: 22px;
  background-color: rgba(243, 245, 255, 0.61);
  border: 1px solid #000;
  box-sizing: border-box;
  width: 348px;
  height: 269px;
  overflow: hidden;
  flex-direction: column;
  padding: 14px 8px;
  justify-content: flex-start;
  gap: 9px;
  text-align: center;
  font-size: 14px;
  color: #707070;
  font-family: Poppins;
}
.yourCalendar1 {
  margin: 0;
}
.yourCalendarWrapper {
  display: flex;
  flex-direction: column;
  padding: 8px;
  align-items: center;
  justify-content: center;
}
.frameChild {
  position: relative;
  border-radius: 59px;
  background-color: #d9d9d9;
  width: 825px;
  height: 503px;
  margin-top: -23px;
}
.frameParent {
  position: absolute;
  top: 858px;
  left: 502px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.loggedInCaregiverIfProfile {
  position: relative;
  background-color: #fbfdfd;
  width: 100%;
  height: 1500px;
  overflow: hidden;
  text-align: left;
  font-size: 31.69px;
  color: #000;
  font-family: Sansation;
}
