.logoChild {
  position: relative;
  border-radius: 0.76px;
  width: 13.74px;
  height: 13.74px;
}
.aicare {
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
}
.logoItem {
  position: relative;
  width: 76.36px;
  height: 76.36px;
  overflow: hidden;
  flex-shrink: 0;
}
.logo {
  width: 161.88px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 13.9px;
  font-size: 15.27px;
}
.home {
  position: relative;
  text-transform: capitalize;
}
.akarIconschevronDown {
  position: relative;
  width: 11.92px;
  height: 11.92px;
  overflow: hidden;
  flex-shrink: 0;
  margin-left: -11.92px;
}
.aboutParent,
.pricingWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.aboutParent {
  width: 71.51px;
  justify-content: center;
}
.pricingWrapper {
  padding: 0 10.924727439880371px 0 0;
  justify-content: flex-start;
}
.signUp {
  position: relative;
  font-size: 16.51px;
  line-height: 135.02%;
  text-transform: capitalize;
  font-family: Inter;
  color: #fff;
  text-align: center;
  mix-blend-mode: hard-light;
}
.signUpWrapper {
  display: flex;
  flex-direction: row;
  padding: 7.945257186889648px;
  align-items: center;
  justify-content: center;
}
.buttonInner {
  position: absolute;
  top: -10.34px;
  left: 7.95px;
  width: 143.01px;
  display: flex;
  flex-direction: column;
  padding: 7.945257186889648px 51.64417266845703px 7.945257186889648px
    7.945257186889648px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #b80c09;
  position: relative;
  border-radius: 18.34px;
  width: 101.3px;
  height: 34.76px;
  overflow: hidden;
  flex-shrink: 0;
}
.navLinks {
  width: 450px;
  height: 49px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.t {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  width: 126.13px;
  height: 139.04px;
  flex-shrink: 0;
}
.navs {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f9fcfc;
  border: 0.3px solid #000;
  box-sizing: border-box;
  width: 1440px;
  height: 76px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 130.1035919189453px 0 79px;
  align-items: center;
  justify-content: flex-start;
  gap: 574px;
}
.signIn {
  position: relative;
}
.signInWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: 41px;
  color: #000;
}
.email {
  position: relative;
  display: inline-block;
  width: 76px;
}
.emailWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 16px;
  color: #1c2852;
}
.email1,
.placeholder {
  height: 41.7px;
  display: flex;
}
.placeholder {
  flex: 1;
  position: relative;
  line-height: 24.33px;
  align-items: center;
}
.email1 {
  border-radius: 3.48px;
  background-color: #f2f2f2;
  width: 368.38px;
  flex-direction: row;
  padding: 0 13.900989532470703px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.password,
.placeholder1 {
  display: flex;
  align-items: center;
}
.password {
  position: relative;
  font-weight: 600;
  color: #333;
  width: 140.17px;
}
.placeholder1 {
  position: absolute;
  top: 0;
  left: 13.9px;
  line-height: 24.33px;
  width: 411.24px;
  height: 41.7px;
}
.password1 {
  position: relative;
  border-radius: 3.48px;
  background-color: #f2f2f2;
  width: 368px;
  height: 42px;
}
.frameGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 11px;
}
.continue {
  flex: 1;
  position: relative;
  font-weight: 600;
}
.continueWrapper {
  border-radius: 8px;
  background-color: #44a2b0;
  border: 1px solid #c2adc2;
  box-sizing: border-box;
  width: 398px;
  display: flex;
  flex-direction: row;
  padding: 24px;
  align-items: flex-start;
  justify-content: flex-start;
}
.alreadyHaveAn {
  position: relative;
  font-size: 16px;
  text-decoration: underline;
  color: #000;
}
.frameContainer,
.frameParent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frameContainer {
  align-items: center;
  gap: 56px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.frameParent {
  position: absolute;
  top: 189px;
  left: calc(50% - 303px);
  border-radius: 24px;
  background-color: #fff;
  border: 0.3px solid #000;
  padding: 64px 104px;
  align-items: flex-start;
  gap: 41px;
  font-size: 13.9px;
  color: #757575;
  font-family: Mulish;
}
.loginPage {
  position: relative;
  background-color: #f9fcfc;
  width: 100%;
  height: 900px;
  overflow: hidden;
  text-align: left;
  font-size: 17.88px;
  color: #000;
  font-family: Inter;
}
