* {
    margin: 0;
    padding: 0
}

/* body {
    border: solid red 2px; ;
    background-color: #000;
} */

.card {
    width: 100%;
    max-width: 100%;
    background-color: white;
    border: none;
    border-radius: 17px;
    border: 2px solid ;
    border: 2.1px solid #293691;
    cursor: pointer;
    transition: all 0.5s;
}

.image img {
    transition: all 0.5s
}

.card:hover .image img {
    transform: scale(1.2)
}

.btnS {
    height: 140px;
    width: 140px;
    border-radius: 50%
}

.name {
    font-size: 22px;
    font-weight: bold
}

.idd {
    font-size: 14px;
    font-weight: 600
}

.idd1 {
    font-size: 14px;
    color :#943963;
}

.number {
    font-size: 22px;
    font-weight: bold
}

.follow {
    font-size: 12px;
    font-weight: 500;
    color: #444444
}

.btn1 {
    height: 40px;
    width: 150px;
    border: none;
    background-color: #000;
    color: #aeaeae;
    font-size: 15px
}

.text span {
    font-size: 13px;
    color: #545454;
    font-weight: 500
}

.icons i {
    font-size: 19px
}

hr .new1 {
    border: 1px solid
}

.join {
    font-size: 14px;
    color: #a0a0a0;
    font-weight: bold
}

.date {
    background-color: #ccc
}

.special {
    
    min-width : 100%;
    max-width: 100%;
    /* box-sizing: border-box; */
    border: black 0.7px solid;
    padding: 5px;
    border-radius: 7px;
    /* align-self: flex-end; */
    margin: 8px;
}