.albertDeraIlip77sbmoeUnsplaIcon {
  position: absolute;
  top: 3.96px;
  left: 3.96px;
  border-radius: 4.13px;
  width: 72.5px;
  height: 85.41px;
  object-fit: cover;
}
.caregiver,
.johnWilliams {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 112.41%;
  text-transform: capitalize;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.johnWilliams {
  width: 239.63px;
  height: 24.2px;
  flex-shrink: 0;
}
.caregiver {
  font-size: 11.6px;
  color: #026c7c;
  width: 126.62px;
}
.starFillChild {
  position: relative;
  width: 8.71px;
  height: 8.43px;
}
.starFill {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: 2.5212690830230713px 2.017015218734741px;
  align-items: flex-start;
  justify-content: flex-start;
}
.starFillItem {
  position: relative;
  width: 8.86px;
  height: 8.58px;
}
.starFill1,
.starFill2 {
  display: flex;
  flex-direction: row;
  padding: 2.565502405166626px 2.0524017810821533px;
  align-items: flex-start;
  justify-content: flex-start;
}
.starFill1 {
  position: absolute;
  top: 0;
  left: 11.12px;
}
.starFill2 {
  left: 22.25px;
}
.starFill2,
.starFill3,
.starIcon1 {
  position: absolute;
  top: 0;
}
.starFill3 {
  left: 33.37px;
  display: flex;
  flex-direction: row;
  padding: 2.565502405166626px 2.0524017810821533px;
  align-items: flex-start;
  justify-content: flex-start;
}
.starIcon1 {
  left: 44.03px;
  width: 11.12px;
  height: 12.1px;
}
.starFillParent {
  position: relative;
  width: 55.16px;
  height: 12.68px;
}
.johnWilliamsParent {
  position: absolute;
  top: 3.96px;
  left: 89.35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.98px;
}
.frameChild {
  position: absolute;
  top: 106.39px;
  left: 17.56px;
  border-top: 0.5px solid #000;
  box-sizing: border-box;
  width: 297.83px;
  height: 0.5px;
}
.albertDeraIlip77sbmoeUnsplaParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 332.95px;
  height: 93.34px;
}
.frameWrapper {
  position: relative;
  width: 332.95px;
  height: 93.34px;
}
.feedbackvariant3Inner {
  display: flex;
  flex-direction: column;
  padding: 0 0 0.4955596923828125px;
  align-items: center;
  justify-content: center;
}
.span {
  text-transform: capitalize;
}
.theWebsiteIsContainer1 {
  line-break: anywhere;
  width: 100%;
}
.theWebsiteIsContainer {
  position: relative;
  font-size: 20.16px;
  line-height: 117.91%;
  display: flex;
  font-family: Sansation;
  text-align: center;
  align-items: center;
  width: 636.3px;
  height: 138.26px;
  flex-shrink: 0;
  margin-top: -9.42px;
}
.feedbackvariant3 {
  position: absolute;
  top: 134.98px;
  left: calc(50% - 282.07px);
  border-radius: 17.34px;
  background-color: #f9fbfc;
  border: 0.7px solid #026c7c;
  box-sizing: border-box;
  width: 663.43px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 30.724702835083008px 60.06629943847656px 30.724702835083008px
    61.94496536254883px;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: 15.13px;
  color: #000;
  font-family: Nunito;
}
