@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400&display=swap");
@font-face {
  font-family: "Sansation";
  src: url("/public/Sansation-Bold.ttf");
  font-weight: 700;
}

body {
  margin: 0;
  line-height: normal;
}
